<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>601855272259-uv2edojhb7tpk6meh5q7ie6smd30154i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.601855272259-uv2edojhb7tpk6meh5q7ie6smd30154i</string>
	<key>API_KEY</key>
	<string>AIzaSyC52nFZhlkCUWwrmL3YwRLeB0Z-b8P0qxs</string>
	<key>GCM_SENDER_ID</key>
	<string>601855272259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.StayFit.StayFit-WorkoutApp</string>
	<key>PROJECT_ID</key>
	<string>stayfit-workout</string>
	<key>STORAGE_BUCKET</key>
	<string>stayfit-workout.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:601855272259:ios:0c5012a4d9f5a15e817bf6</string>
</dict>
</plist>